@page
@model ComicBookStore.Areas.Identity.Pages.Account.Manage.ProfilePictureModel
@{
    ViewData["Title"] = "Profile Picture";
    ViewData["ActivePage"] = ManageNavPages.ProfilePicture;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-12">

        <form id="profile-image" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" />

            <input type="hidden" asp-for="Input.ApplicationUserID" value="@Model.ApplicationUserID" />
            <div class="form-group row">
                
                <div class="col-6">
                    <label>Image</label>
                    <div class="custom-file">

                        <input asp-for="Input.FileUpload" type="file" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Choose File</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <input type="submit" value="Create" class="btn btn-primary form-control" asp-page-handler="ProfileImage" />
                </div>
            </div>
        </form>

    </div>
</div>
<hr />

<div class="mt-5">
    <h4 class="text-center mb-5">Current Pictures</h4>
    <div class="row d-flex justify-content-center">
        @foreach (var item in Model.ProfileImageViewModel)
        {
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-2 text-center">
                <img src="@item.URL" style="object-fit: cover; border-radius: 50%; height:100px; width:100px;" alt="profile" class="img-fluid" />
                <br />

                <div class="row">
                    <div class="col-6">
                        <form method="post" class="mt-2">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete" asp-page-handler="Delete" asp-route-id="@item.ImageFileName" />
                        </form>
                    </div>
                    <div class="col-6">
                        @if (item.IsProfileImage == true)
                        {
                            <p class="mt-2">
                                <small><i class="fas fa-check" style="color: green; cursor: pointer;"></i> Profile Picture</small>
                            </p>
                        }
                        else
                        {
                            <form method="post" class="mt-2">
                                <input type="submit" class="btn btn-sm btn-success" value="Update" asp-page-handler="UpdateProfileImage" asp-route-id="@item.ImageFileName" />
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>




